# Ejercicios de repaso

## Ejercicio 1 - Markdown
1. Pon por pantalla una imagen
2. Escribe en una lista ordenada 3 cosas que te llevarias a la montaña
3. Escribe en una lista no ordenada tus tres colores favoritos
4. Recplica la lista del apartado dos, pero esta vez que el primer elemento esté en negrita, el segundo en cursiva y el tercero en negrita y cursiva.
5. Escribe en markdown, un bloque de código Python que sea print("Esto es markdown"). Markdown reconoce que es Python ya que pone de color diferente las palabras reservadas.
6. Escribe el nombre de una web que uses mucho y asocia al texto un enlace a la propia web.

1) ../../ con los dos puntos me puedo ir atras

![image](./primera_celda-Copy1.png)

2)

1. Mochila
2. Gafas de sol
3. Guantes

3)

- Verde
- Amarillo
- Azul

4)

- **Verde**
- *Amarillo*
- ***Azul***

5)

```Python
print("Esto es markdown")
````

6)

[Esta web la uso mucho](https://www.youtube.com/)

## Ejercicio 2 - Python Basics
1. ¿Qué tengo que poner para que me haga un salto de linea en un print? ¿Y para una tabulación?
2. Realiza un conversor de dolares a euros. Tienes que usar `input`.
3. Comenta el apartado 1 con un comentario de línea y el apartado 2 con uno multilínea
4. Declara dos strings de dos maneras diferentes. Uno será tu nombre y el otro tu apellido. Declara en otra variable tu edad. Concatenalo todo en una frase (nueva variable), e imprimelo por pantalla.
5. ¿Está bien si pongo números en los nombres de las variables?
6. Comprueba los tipos de las variables del apartado 4
7. Elimina todas las variables del apartado 4
8. Crea un programa donde se recojan dos inputs del usuario, y el output del programa sea si esos inputs son iguales o no.
9. Dada la lista [4,7,-3], calcula su maximo, minimo y suma
10. Redondea 38.38276252728 a 5 decimales
11. Pasa la frase "Born to be wild" a mayusculas, luego minusculas, dividela por los espacios, y por último, sustituye "wild" por "Geek".

1)

In [13]:
print("Hello\nHello\tHolahola")

Hello
Hello	Holahola

2)

In [16]:
dolar = input("Introduce dolares")

euro = float(dolar) /1.21

print("Tus", dolar , "son ", euro, "euros")

Introduce dolares34
Tus 34 son  28.09917355371901 euros

3)

In [13]:
print("Hello\nHello\tHolahola") # comentario de linea

Hello
Hello	Holahola

In [114]:
dolar = input("Introduce dolares")

euro = round(float(dolar) /1.21)

"""
comentario multilinea
hola 
hola"""

print("Tus", dolar , "son ", euro, "euros")

Introduce dolares123
Tus 123 son  102 euros

4) Declara dos strings de dos maneras diferentes. Uno será tu nombre y el otro tu apellido. Declara en otra variable tu edad. Concatenalo todo en una frase (nueva variable), e imprimelo por pantalla.

In [1]:
nombre = "Erika"
apellido = "Kvalem"
edad = '24'
concat = nombre + " " + apellido + " " + edad 
print(concat)

Erika Kvalem 24

5)

In [2]:
5 = "holaque tal está mal"

SyntaxError: cannot assign to literal (<ipython-input-2-3902095ace03>, line 1)

6)

In [4]:
print(type(nombre))
print(type(apellido))
print(type(edad))

<class 'str'>
<class 'str'>
<class 'str'>

7)

In [7]:
del(nombre)
del(apellido)
del(edad)

8) Crea un programa donde se recojan dos inputs del usuario, y el output del programa sea si esos inputs son iguales o no.

In [8]:
n1 = input("Introduce input 1")
n2 = input("Introduce input 2")

if n1 == n2:
    print("Son iguales")
else: 
    print("no son iguales")

Introduce input 1123123jkn
Introduce input 2asdsaf
no son iguales

9)

In [10]:
lista = [4,7, -3]
maximo = max(lista)
minimo = min(lista)
suma = sum(lista)
print(maximo)
print(minimo)
print(suma)

7
-3
8

10)

In [11]:
round(38.38276252728,5)

38.38276

11)

In [14]:
frase = "Born to be wild"
print(frase.upper())

print(frase.lower())

print(frase.split())

print(frase.replace("wild","geek"))

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
Born to be geek

## Ejercicio 3 - If/else
Crea un arbol de decisión mediante sentencias `if/else`, para determinar el precio de la entrada de cine. Si la edad del cliente está entre 5 y 15 años, ambos incluidos, el precio será de 5, si está jubilado y la peli es una de las `peliculas_disccount`, el precio es de 4. En cualquier otr caso, será de 7 euros.

In [19]:
def cine_precio(edad,pelicula):
    if edad >=5 and edad <=15:
        output = 5
        return output
    elif edad > 65 and pelicula == "peliculas_disccount":
        output = 4
        return output
    else:
        output = 7
        return output

In [26]:
cine_precio(66,"peliculas_disccount")

4

## Ejercicio 4 - bucle for
Dadas dos listas de la misma longitud, crea una tercera lista que se componga de la suma de ambas, elementoa  elemento.

In [38]:
L1 = [1 ,4, 5, 2]
L2 = [5, 3, 5, 6]
L3 = []

for i in range(len(L1)):
    print(L1[i])
    print(L2[i])
    num = L1[i] + L2[i]
    
    L3.append(L1[i] + L2[i]) # la lista es mutable con el metodo modifica el objeto

print(L3)

1
5
4
3
5
5
2
6
[6, 7, 10, 8]

## Ejercicio 5 - bucle for
1. Imprime por pantalla los numeros entre el 0 y el 70 que se sean multiplos de 3 y de 5
2. Imprime por pantalla la siguiente secuencia: [-10, -11, -12, -13, -14, -15]
3. Utiliza un bucle for para mostrar los elementos en las posiciones impares de la siguiente lista `L = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]`

1)

In [40]:
for i in range(0,71):
    if i%3 == 0 and i%5 == 0:
        print(i)
    else:
        pass

0
15
30
45
60

2) [-10, -11, -12, -13, -14, -15]

In [47]:
for i in range(-10,-16,-1):
    print(i)

-10
-11
-12
-13
-14
-15

3) Utiliza un bucle for para mostrar los elementos en las posiciones impares de la siguiente lista L = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [152]:
L =  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(L)):
    if i%2 !=0:
        print(L[i])

20
40
60
80
100

## Ejercicio 6 - bucle for
Imprime por pantalla el siguiente patrón
```Python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [153]:
for i in range(1,10):
   
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

## Ejercicio 7 - bucle while
Escribe por pantalla un programa que vaya pidiendo numeros al usuario, hasta que el usuario introduce el 9999. En ese caso, el programa devuelve la concatenación de todos los números. Como si fuese un string.

In [163]:
num = 0
L = []
#num = input ("introduce un numero")
while num != "9999":
    num = (input("introduce un numero: "))
    L.append(num)

print("".join(L))

introduce un numero: 5
introduce un numero: 8
introduce un numero: 3
introduce un numero: 9999
5839999

In [ ]:
# SOLUCION RAFA
entrada = input("introduce un numbero: ")

output = ""

while entrada != "9999":
    output += entrada
    entrada = input("introduce numero")
print("Concatenado", output)

## Ejercicio 8 - funcion con bucle while
Escribe una funcion en el que se le pide al usuario el codigo pin reiteradamente hasta que acierte... Si lo introduce mal 3 veces, la funcion devuelve un "Se ha bloqueado", sino, un "¡Acertaste el codigo!".

In [176]:
#SOLUCION RAFA
pin = 455

def codigo_pin(): # funcion sin argumento introduce el pin despues 
    intentos = 0
    while intentos <3:
        codigo = int(input("Introduce el codigo PIN: "))
        
        if codigo == pin:
            return "Acceso correcto"
        else:
            intentos += 1
            
    return "se ha bloqueado"

In [177]:
codigo_pin()

Introduce el codigo PIN: 455

'Acceso correcto'

In [178]:
# ME HE BLOQUEADO EN MI SOLUCION

In [106]:
import random
lista_random = []

#Generando un pin random
for i in range(1,6):
    
    j = str(random.randint(1,3))
    lista_random.append(j)

pin = "".join(lista_random)
print("Este es el pin: ", pin)
#funcion
def pin(numero):
    
    intentos = 2
    
    
    while intentos >0:
        if numero == pin:
            output = "Acertaste"
            return output
        
        else:
            print("Menos 1 intento")
            intentos = intentos - 1
            numero = input("Introduce pin")
    if intentos == 0:
        output = "Se ha bloqueado"
        return output

Este es el pin:  32112

In [107]:
pin(32112)

Menos 1 intento
Introduce pin3
Menos 1 intento
Introduce pin1

'Se ha bloqueado'

## Ejercicio 9 - colecciones
1. Crea una tupla con los elementos (10,2,27,8)
2. Obtén el tamaño de la tupla
3. Imprime por pantalla su tipo
4. Declara una tupla con 4 caracteres y concatenalos todos, separados por espacios
5. Declara una lista con los mismos elementos que en el apartado 1. Encuentra el elemento 27 de la lista, y sustituyelo por 37
8. Elimina el 8 de la lista
9. Convierte la lista de apartado anterior en una tupla.
10. Compurba si el elemento 3 esta en la tupla del apartado anterior.
11. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices.
12. Ordena la tupla de manera descendente
13. Crea un diccionario con {"val1": 5, "val2": 8, "val3": 9}. Suma todos sus valores. 
14. Obtén una lista de tuplas con todos los items del diccionario anterior

1)

In [108]:
tupla = (10,2,27,8)

tuple

2)

In [109]:
len(tupla)

4

3)

In [110]:
type(tupla)

tuple

4)

In [111]:
tupla2 = ("a", "b", "A", "B")

" ".join(tupla2)

'a b A B'

5) Declara una lista con los mismos elementos que en el apartado 1. Encuentra el elemento 27 de la lista, y sustituyelo por 37

In [122]:
L = [10,2,27,8]

indice = L.index(27)
L[indice]= 37
print(L)

[10, 2, 37, 8]

6)

In [123]:
L.remove(8)
print(L)

[10, 2, 37]

7)

In [125]:
L = tuple(L)
L

(10, 2, 37)

8)

In [179]:
3 in L

3 not in L

True

9)

In [132]:
diccio = {}
for i,j in enumerate(L):
    
    diccio[i] = j
print(diccio)

{0: 10, 1: 2, 2: 37}

10)

In [180]:
L = tuple(L)
sorted(L, reverse = True) # FUNCION NO ALTERA EL OBJETO

['9999', '8', '5', '3']

11)

In [182]:
D = {"val1": 5, "val2": 8, "val3": 9}

sum(D.values())

TypeError: 'list' object is not callable

12)

In [1]:
D = {"val1": 5, "val2": 8, "val3": 9}

list(D.items())

[('val1', 5), ('val2', 8), ('val3', 9)]

In [140]:
lista = [(k, v) for k, v in D.items()] 
lista

[('val1', 5), ('val2', 8), ('val3', 9)]

In [145]:
"""
lista = []
for i,j in D.items():
    print(i,j)
    tupla = (i,j)
    lista.append(tupla)
print(lista)
"""


lista = [ (i,j) for i,j in D.items()]
print(lista)

[('val1', 5), ('val2', 8), ('val3', 9)]

## Ejercicio 10 - funciones

1. Implementa una función llamada `calculo` que reciba dos argumentos de entrada y devuelva en una lista la suma y la resta de ambas variables
2. Implementa una función que reciba dos listas de igual tamaño y devuelva un diccionario cuyas claves correspondan a los valores de la primera lista y cuyos valores correspondan a los de la segunda lista
3. Implementa una función que reciba una lista y devuelva `True` en caso de que el número 0 esté en la lista, y `False` en caso contrario
4. Implementa una función que reciba un número como argumento y devuelva `True` en caso de ser un número primo y `False` en caso contrario
5. Implementa una función que reciba una lista como argumento y devuelva la misma lista acotada a los valores [-10, 10] (todo valor menor que -10 lo sustituirá por -10 y todo valor mayor que 10 lo sustituirá por 10)
6. Implementa una función que reciba un diccionario y devuelva el mismo diccionario pero con sus claves en letras mayúsculas
7. Implementa una función que reciba una lista de números enteros y devuelva dos listas ordenadas. La primera lista contendrá los números pares y la segunda los números impares

1) Implementa una función llamada calculo que reciba dos argumentos de entrada y devuelva en una lista la suma y la resta de ambas variables

In [147]:
def calculo(a,b):
    
    
    
    suma = a+b
    resta = a-b
    lista = [suma, resta ]
    return lista

In [148]:
calculo(4,5)

[9, -1]

2) Implementa una función que reciba dos listas de igual tamaño y devuelva un diccionario cuyas claves correspondan a los valores de la primera lista y cuyos valores correspondan a los de la segunda lista

In [5]:
def diccionario(list1,list2):
    if len(list1) != len(list2):
        return False
    
    dic ={}
    
    for i in range(len(list1)):
        dic[list1[i]] = list2[i]
    return dic

In [6]:
L1 = ["key1","key2", "key3", "key4"]
L2 = [5, 6, 7, 8]
diccionario(L1,L2)

{'key1': 5, 'key2': 6, 'key3': 7, 'key4': 8}

3) Implementa una función que reciba una lista y devuelva True en caso de que el número 0 esté en la lista, y False en caso contrario

In [7]:
def lista_finder(L):
    if 0 in L:
        return True
    else:
        return False

In [8]:
L = [4, 0, 6, 7]

lista_finder(L)

True

4) Implementa una función que reciba un número como argumento y devuelva True en caso de ser un número primo y False en caso contrario

In [9]:
#EASY WAY
def num_primo(n):
    from sympy import isprime
    

    if isprime(n):
        return True
    else:
        return False

In [10]:
num_primo(13)

True

In [21]:
 #solucion rafa zambrano
    
def isPrimo(num):
    if num == 2:
        return True
    if num in [0,1]:
        return False
    
    for i in range(2,num):
        if num%i == 0:
            return False
       
    return True

In [22]:
isPrimo(18)

False

5) Implementa una función que reciba una lista como argumento y devuelva la misma lista acotada a los valores [-10, 10] (todo valor menor que -10 lo sustituirá por -10 y todo valor mayor que 10 lo sustituirá por 10)

In [75]:
#solucion rafa zambrano
def lista_acotada(lista):
    for i in range(len(lista)):
        if lista[i] < -10:
            lista[i] = -10
        elif lista[i] > 10:
            lista[i] = 10
    return lista
lista_acotada([1,5,2,23243,12,-10])

[1, 5, 2, 10, 10, -10]

In [26]:
def acotar(lista):
    lista2 = []
    for i in lista:
        if i < -10:
            lista2.append(-10)
        elif i > 10:
            lista2.append(10)
        else:
            lista2.append(i)

    return lista2

In [27]:
acotar([-11,-34,56,5,6])

[-10, -10, 10, 5, 6]

6) Implementa una función que reciba un diccionario y devuelva el mismo diccionario pero con sus claves en letras mayúsculas

In [76]:
#solucion rafa zambrano

def diccionario(dic):
    
    d2 = {}
    
    for clave,valor in dic.items():
        d2[str(clave).upper()] = valor
    return d2

In [78]:
diccionario({"a":5, "asda":5, "b":565})

{'A': 5, 'ASDA': 5, 'B': 565}

7) Implementa una función que reciba una lista de números enteros y devuelva dos listas ordenadas. La primera lista contendrá los números pares y la segunda los números impares

In [81]:
def pares_impares(L1):
    
    Lpares =[]
    Limpares = []
    for i in L1:
        if i%2 == 0:
            
            Lpares.append(i)
            
        else:
            Limpares.append(i)
    return {"Pares":Lpares, # es mas facil devolver un diccionario   cuando tenemos que devolver
            "Impares":Limpares} # dos cosas en el return

In [82]:
pares_impares([5,6,4,2,3,7,9])

{'Pares': [6, 4, 2], 'Imapres': [5, 3, 7, 9]}