# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [2]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [3]:
chipo = pd.read_csv(address, sep = "\t")

In [4]:
chipo["item_price"] = chipo["item_price"].str[1:]

In [5]:

chipo["item_price"] = chipo["item_price"].astype(float)

In [6]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [7]:
max(chipo["item_price"])

44.25

In [8]:
lista = ["item_price", "item_name"]
df2 = chipo[lista].sort_values("item_price",ascending = False)
df2.drop_duplicates(subset=['item_name'])

      item_price                              item_name
3598       44.25           Chips and Fresh Tomato Salsa
3480       35.25                          Carnitas Bowl
1254       35.00                        Chicken Burrito
3601       33.75                         Veggie Burrito
409        32.94                           Chicken Bowl
1255       27.75                          Steak Burrito
3334       26.07                             Steak Bowl
281        23.78                       Steak Salad Bowl
591        22.50                     Chicken Salad Bowl
445        22.20                                   Bowl
3658       21.96                     Chicken Soft Tacos
1903       18.50                  Barbacoa Crispy Tacos
2581       18.50                       Carnitas Burrito
4354       18.50                       Steak Soft Tacos
3890       17.98                  Carnitas Crispy Tacos
2874       17.98                     Steak Crispy Tacos
4489       17.80                    Chips and Guacamole
217        17.50                   Chicken Crispy Tacos
3617       16.98                            Veggie Bowl
3889       16.98                      Veggie Soft Tacos
4152       15.00                          Bottled Water
3887       13.52                          Side of Chips
3389       12.98                      6 Pack Soft Drink
3208       11.89                    Barbacoa Salad Bowl
4239       11.89                    Carnitas Salad Bowl
3031       11.75                       Barbacoa Burrito
3017       11.75                          Barbacoa Bowl
3211       11.75                    Barbacoa Soft Tacos
1963       11.75                    Carnitas Soft Tacos
1884       11.25                      Veggie Salad Bowl
250        10.98                          Chicken Salad
664         8.99                            Steak Salad
3750        8.99                         Carnitas Salad
1653        8.49                    Veggie Crispy Tacos
2996        8.49                           Veggie Salad
1415        7.40                                  Salad
675         7.40                                Burrito
520         7.40                           Crispy Tacos
3270        7.17    Chips and Tomatillo-Red Chili Salsa
601         6.78                       Nantucket Nectar
2936        6.45                                  Chips
1620        5.90    Chips and Tomatillo Red Chili Salsa
235         5.90  Chips and Tomatillo Green Chili Salsa
1555        5.90     Chips and Roasted Chili Corn Salsa
3973        5.00                      Canned Soft Drink
3657        4.78  Chips and Tomatillo-Green Chili Salsa
2235        4.36                            Canned Soda
2758        3.39                                   Izze
674         3.00      Chips and Mild Fresh Tomato Salsa
3024        2.39     Chips and Roasted Chili-Corn Salsa

In [9]:
chipo["item_price"].sort_values(ascending = False)
chipo["item_price"] =chipo["item_price"]
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

## SOLUTION

In [10]:
#chipo.item_price.apply(lambda x: float(x[1:])).sort_values("item_price", ascending = False)

In [ ]:
#ordenado = chipo.sort_values("item_price",ascending = False)
#ordenado["item_name"][ordenado.price_w == ordenado.item_price.max()].values[0]

In [18]:
#chipo.item_price.idmax()

#chipo["item_name"][chipo.item_price.idmax()]

### Step 4. How many products cost more than $10.00?

In [11]:
chipo.loc[chipo["item_price"]>10].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

In [24]:
#SOLUTION
chipo["price_ud"] = chipo["item_price"]/chipo["quantity"]
len(chipo[chipo.price_ud>10])

1034

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [12]:
lista = ["item_name","item_price"]
chipo.loc[:,lista]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [25]:
chipo.groupby("item_name")["item_price"]

### Step 6. Sort by the name of the item

In [13]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [14]:
maximum = chipo["item_price"].max()

chipo[chipo["item_price"] == maximum]["quantity"]

3598    15
Name: quantity, dtype: int64

In [27]:
chipo.loc[chipo["item_price"].idxmax()]["quantity"]

15

V2

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [15]:
veggie = chipo["item_name"] == "Veggie Salad Bowl"
chipo[veggie]["quantity"].count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [16]:
more = chipo["quantity"] >2
chipo[chipo["item_name"]=="Canned Soda"][chipo["quantity"] >2]

<ipython-input-16-4146683e7799>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo[chipo["item_name"]=="Canned Soda"][chipo["quantity"] >2]

      order_id  quantity    item_name choice_description  item_price
2235       901         4  Canned Soda           [Sprite]        4.36

In [28]:
#SOLUTION
chipo[(chipo.item_name == "Canned Soda")& (chipo.quantity >1)].shape[0]

20